$blockquote-colors-support-parser: (
    border-color: color,
    color: color
) !default;

$blockquote-colors-support-extra-colors-palette: () !default;
$blockquote-colors-support-skip-colors-palette: null !default;
